    
  body {
    background-color: rgb(185, 167, 144)
  }
  .header {
    text-align: center;
    color: white;
    width: 50%;
    height: 20%;
  }

  .header img {
    height: 60px;
    width: 60px;
    text-align: center;
  }
  
  .column {
    width: 50%;
    float: right;
    text-align: right;
  }
  .edu{
    width: 50%;
    float: left;
    text-align: left;

  }
#myName {
  color:rgb(50, 54, 68);
  text-align: right
}
#Experience{
color: black;
text-align: left;

}

#TechnicalSkills{
  color: black;
  text-align: left;
}

  #Leadership{
    color: black;
    text-align: left;

 }

